/*body {font-size:1em;}
@media only screen and (max-width:1560px) {
	body {font-size:calc(1em - 0.0625em / 4);}
}
@media only screen and (max-width:1520px) {
	body {font-size:calc(1em - 0.0625em / 3);}
}
@media only screen and (max-width:1480px) {
	body {font-size:calc(1em - 0.0625em / 2);}
}
@media only screen and (max-width:1440px) {
	body {font-size:0.9375em;}
}
@media only screen and (max-width:1422px) {
	body {font-size:calc(0.9375em - 0.0625em / 4);}
}
@media only screen and (max-width:1404px) {
	body {font-size:calc(0.9375em - 0.0625em / 3);}
}
@media only screen and (max-width:1385px) {
	body {font-size:calc(0.9375em - 0.0625em / 2);}
}
@media only screen and (max-width:1366px) {
	body {font-size:0.875em;}
}
@media only screen and (max-width:1344px) {
	body {font-size:calc(0.875em - 0.0625em / 4);}
}
@media only screen and (max-width:1322px) {
	body {font-size:calc(0.875em - 0.0625em / 3);}
}
@media only screen and (max-width:1301px) {
	body {font-size:calc(0.875em - 0.0625em / 2);}
}
@media only screen and (max-width:1280px) {
	body {font-size:0.8125em;}
}
@media only screen and (max-width:1216px) {
	body {font-size:calc(0.8125em - 0.0625em / 4);}
}
@media only screen and (max-width:1152px) {
	body {font-size:calc(0.8125em - 0.0625em / 3);}
}
@media only screen and (max-width:1080px) {
	body {font-size:calc(0.8125em - 0.0625em / 2);}
}
@media only screen and (max-width:1024px){
	body {font-size:0.750em;}
}
@media only screen and (max-width:900px){
	body {font-size:1em;}
}
@media only screen and (max-width:878px) {
	body {font-size:calc(1em - 0.0625em / 4);}
}
@media only screen and (max-width:856px) {
	body {font-size:calc(1em - 0.0625em / 3);}
}
@media only screen and (max-width:834px) {
	body {font-size:calc(1em - 0.0625em / 2);}
}
@media only screen and (max-width:812px){
	body {font-size:0.9375em;}
}
@media only screen and (max-width:793px) {
	body {font-size:calc(0.9375em - 0.0625em / 4);}
}
@media only screen and (max-width:774px) {
	body {font-size:calc(0.9375em - 0.0625em / 3);}
}
@media only screen and (max-width:755px) {
	body {font-size:calc(0.9375em - 0.0625em / 2);}
}
@media only screen and (max-width:736px){
	body {font-size:0.875em;}
}
@media only screen and (max-width:720px) {
	body {font-size:calc(0.875em - 0.0625em / 4);}
}
@media only screen and (max-width:703px) {
	body {font-size:calc(0.875em - 0.0625em / 3);}
}
@media only screen and (max-width:686px) {
	body {font-size:calc(0.875em - 0.0625em / 2);}
}
@media only screen and (max-width:667px){
	body {font-size:0.8125em;}
}
@media only screen and (max-width:617px) {
	body {font-size:calc(0.8125em - 0.0625em / 4);}
}
@media only screen and (max-width:568px) {
	body {font-size:calc(0.8125em - 0.0625em / 3);}
}
@media only screen and (max-width:491px) {
	body {font-size:calc(0.8125em - 0.0625em / 2);}
}
@media only screen and (max-width:414px){
	body {font-size:0.75em;}
}
@media only screen and (max-width:404px) {
	body {font-size:calc(0.75em - 0.0625em / 4);}
}
@media only screen and (max-width:394px) {
	body {font-size:calc(0.75em - 0.0625em / 3);}
}
@media only screen and (max-width:384px) {
	body {font-size:calc(0.75em - 0.0625em / 2);}
}
@media only screen and (max-width:375px){
	body {font-size:0.6875em;}
}
@media only screen and (max-width:361px) {
	body {font-size:calc(0.6875em - 0.0625em / 4);}
}
@media only screen and (max-width:347px) {
	body {font-size:calc(0.6875em - 0.0625em / 3);}
}
@media only screen and (max-width:333px) {
	body {font-size:calc(0.6875em - 0.0625em / 2);}
}
@media only screen and (max-width:320px){
	body {font-size:0.625em;}
}*/